<div
  class="source-row"
  [class.expanded]="expanded"
  [class.highlighted]="highlighted"
  (click)="toggle.emit()"
>
  <span class="index mono">{{ (index ?? 0) + 1 }}</span>

  <div class="body">
    <button
      type="button"
      class="title row-toggle"
      [class.clamp]="!expanded"
      [attr.aria-expanded]="expanded"
      (click)="$event.stopPropagation(); toggle.emit()"
    >
      {{ paper.title }}
    </button>
    @if (metaLine) {
      <div class="meta mono">{{ metaLine }}</div>
    }

    @if (expanded) {
      <div class="details" (click)="$event.stopPropagation()">
        <div class="authors text-secondary">{{ authorsDisplay }}</div>

        @if (paper.abstract) {
          <p class="abstract" [class.clamp]="!abstractOpen">{{ paper.abstract }}</p>
          @if (showAbstractToggle) {
            <button type="button" class="icon-action more" (click)="abstractOpen = !abstractOpen">
              {{ abstractOpen ? 'Show less' : 'Show more' }}
            </button>
          }
        }

        <div class="row-actions">
          @if (isOpenAlex) {
            <button type="button" class="icon-action" (click)="onCitationsClick()" matTooltip="Find citing papers">
              <span class="material-icons">call_made</span>Cited by
            </button>
            <button type="button" class="icon-action" (click)="onReferencesClick()" matTooltip="Find references">
              <span class="material-icons">call_received</span>References
            </button>
          }
          <button type="button" class="icon-action" (click)="copyCitation()" matTooltip="Copy citation">
            <span class="material-icons">content_copy</span>Cite
          </button>
          @if (paper.url) {
            <button type="button" class="icon-action" (click)="openUrl()" matTooltip="Open paper">
              <span class="material-icons">open_in_new</span>Open
            </button>
          }
        </div>
      </div>
    }
  </div>
</div>
