<mat-sidenav-container class="app-container" [class.sidebar-collapsed]="sidebarCollapsed()">
  <mat-sidenav
    #sidenav
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
    class="app-sidenav"
    [class.collapsed]="sidebarCollapsed()"
  >
    <app-sidebar
      [collapsed]="sidebarCollapsed()"
      (toggleCollapse)="toggleCollapse()"
      (closeSidenav)="onSidenavClose()"
    ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    @if (isHandset()) {
      <app-top-bar (menuClick)="sidenav.toggle()"></app-top-bar>
    }
    <div class="page-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
