@import "basics";

.account-container {
  width: 75%;
  margin: 0 auto;
  padding-top: 130px;
  p { color: white; }
  .account-containers {
    display: flex;
    justify-content: space-between;
    .security-container {
      margin: 15px;
      width: 50%;
      height: 420px;
      border: 0.5px solid rgba(#fff, 0.5);
      border-radius: 15px;
    }
  }
}
