@import "basics";

.account-container {
  width: 75%;
  margin: 0 auto;
  padding-top: 130px;
  p { color: white; }
  .account-container-item {
    margin: 0 auto 20px;
    display: flex;
    border-bottom: 1px solid rgba(#fff, 0.5);
    &.danger { border-bottom: 1px solid rgba($error, 0.5); }
    .account-container-item-icon {
      width: 120px;
      height: 100%;
    }
    .account-container-item-icon-texts {
      display: block;
      width: 100%;
      p { margin: 0; }
      height: 50%;
      line-height: 50px;
      &.text {
        line-height: 35px;
      }
    }
    .account-container-item-button {
      width: 200px;
      height: 100%;
      margin-left: auto;
      margin-right: 25px;
      line-height: 80px;
    }
  }

  .account-container-info {
    display: flex;
    justify-content: space-between;
  }
}
