//$backgroundcolor: #192231;
//$backgroundcolorsecond: #494E6B;

$backgroundcolor: #031424;
$backgroundcolorsecond: #30415D;


// https://www.canva.com/learn/website-color-schemes/
$cloud: #98878F;
$sunset: #985E6D;

$fresh: #F7F5E6;
$vermillion: #333A56;
$sunshine: #52658F;
$clean: #E8E8E8;

$coral: #E14658;
$navy: #22252C;
$mountain: #3F3250;
$scrub: #C0B3A0;

$crimsonsky: #CF6766;
$indigo: #30415D;
$unlramarine: #031424;
$lightblue: #8EAEBD;

// Loader
$firstcolorrgb: rgb(63, 249, 220);
$firstcolorrgbopacity: rgba(63, 249, 220, 0.1);
$secondcolorrgb: rgb(251, 91, 83);
$secondcolorrgbopacity: rgba(251, 91, 83, 0.1);
