$backgroundcolor: #142850;
$backgroundcolorsecond: #27496D;

// https://www.canva.com/learn/website-color-schemes/

// Loader
$firstcolorrgb: rgb(63, 249, 220);
$firstcolorrgbopacity: rgba(63, 249, 220, 0.1);
$secondcolorrgb: rgb(251, 91, 83);
$secondcolorrgbopacity: rgba(251, 91, 83, 0.1);
