$backgroundcolor: #1d2630aa;
$backgroundcolorsecond: #37474faa;

$firstcolor: #3FF9DC;
$secondcolor: #FB5B53;

$firstcolorrgb: rgb(63, 249, 220);
$firstcolorrgbopacity: rgba(63, 249, 220, 0.1);
$secondcolorrgb: rgb(251, 91, 83);
$secondcolorrgbopacity: rgba(251, 91, 83, 0.1);
