@import "main";

.header {
  width: 100%;
  height: 50px;
  background-color: lightgreen;
  display: flex;
  position: fixed;
  justify-content: space-between;
  .header-middle {
    width: 40%;
    background-color: black;
  }
  .header-side {
    width: 30%;
    min-width: 350px;
    display: flex;
    .header-logo {
      width: 25%;
      height: 50px;
      background-color: blue;
      min-width: 160px;
      cursor: pointer;
    }
    .header-nav {
      width: 75%;
      height: 50px;
      background-color: cyan;
      min-width: 320px;
      display: flex;
      justify-content: space-between;
      .header-nav-menu {
        padding: 15px 0 15px 0;
      }
    }
    .user-nav {
      color: rgb(0, 20, 42);
      cursor: pointer;
      padding-left: 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      .user-nav-button {
        padding: 6px 12px 7px;
        border: 1px solid rgb(36, 174, 143);
        border-radius: 4px;
        line-height: 1.5;
        text-align: center;
        color: rgb(36, 174, 143);
        width: auto;
        margin: 0;
        &.filled {
          background-color: rgb(36, 174, 143);
          color: white;
        }
      }
    }
  }
}
