@import "main";
@import "basics";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $backgroundcolorsecond;

  .login-content {
    height: 100vh;
    width: 40%;
    background-color: $backgroundcolor;
  }

  .login-header {
    width: 80%;
    left: 17%;
    height: 50px;
    position: absolute;
    top: 0;
    p {
      padding: 15px;
    }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-inputs-container {
      .login-options {
        display: flex;
        .choose {
          cursor: pointer;
          transition: .2s;
          color: white;
        }
        .choose:hover {
          color: $maincolor;
        }
      }
      .password-requirement {
        width: 100%;
        border-radius: 5px;
        border: 0.5px solid rgba(#fff,0.9);
        p {
          padding-left: 15px;
          color: white;
          opacity: 0.9;
        }
      }
    }
  }
}
