@import "main";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-content {
    height: 100vh;
    width: 40%;
    background-color: lightgreen;
  }

  .login-header {
    width: 80%;
    left: 17%;
    height: 50px;
    position: absolute;
    top: 0;
    p {
      padding: 15px;
    }
  }

  .login-inputs {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-inputs-container {
      .login-options {
        display: flex;
        .choose {
          cursor: pointer;
          transition: 0.2s;
        }
        .choose:hover {
          color: lightgreen;
        }
      }
      .password-requirement {
        width: 100%;
        border-radius: 7.5px;
        border: 0.5px solid rgba(0,0,0,0.5);
        p {
          padding-left: 15px;
        }
      }
    }
  }
}
