body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.home {
  padding: 100px 50px 50px;
}

.paragraph-small {
  font-size: 12px;
  opacity: 0.65;
  &.right {
    float: right;
  }
  &.pointer {
    cursor: pointer;
  }
}
