@import "basics";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.home {
  padding: 100px 50px 50px;
}

.paragraph-small {
  font-size: 12px;
  opacity: 0.9;
  color: white;
  &.right {
    float: right;
  }
  &.pointer {
    cursor: pointer;
  }
  &.link {
    color: $maincolor;
  }
  &.error {
    color: $error
  }
}

.vertical-line {
  width: 1px;
  background-color: white;
  height: 50px;
  float: left;
  opacity: 0.5;
  margin: 0 20px 0 20px;
}

a {
  color: $maincolor;
}

.inner-block {
  padding: 15px;
}

h1 {
  font-size: 36px;
  color: white;
}
