@import "basics";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  background-color: $backgroundcolor;
}

.home {
  padding: 100px 50px 50px;
}

.paragraph {
  font-size: 14px;
  opacity: 0.9;
  color: white;
  &.average { font-size: 16px; }
  &.medium { font-size: 18px; }
  &.large { font-size: 24px; }
  &.right { float: right; }
  &.error { color: $error; }
  &.on-white-paragraph { color: black; }
  &.link { color: $maincolor; cursor: pointer; }
  &.success { color: lightgreen }
  &.opacity { opacity: 0.5; }
  &.bold { font-weight: 500 }
}

.vertical-line {
  width: 1px;
  background-color: white;
  height: 50px;
  float: left;
  opacity: 0.5;
  margin: 0 20px 0 20px;
}

a {
  color: $maincolor;
}

.inner-block {
  padding: 15px;
}

h1 {
  font-size: 36px;
  color: white;
}

h3 {
  font-size: 24px;
  color: white;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transition: 0.5s;
  margin-bottom: 2px;
  margin-left: 2px;
}

.arrow-right {
  transform: rotate(-45deg);
  --webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  --webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  --webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  --webkit-transform: rotate(45deg);
}

ul {
  color: white;
  font-size: 18px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px
}

.flex {
  display: flex;
}
