@import "../basics";

.account-header {
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  margin-top: 60px;
  .account-header-inner {
    width: 50%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid white;
    @media only screen and (max-width: 930px) {
      width: 100%;
    }
    .account-header-item-block {
      height: calc(100% - 15px);
      padding-top: 15px;
      margin: 0 auto;
      &.active {
        border-bottom: 3px solid $maincolor;
      }
      .account-header-item {
        cursor: pointer;
        margin: 0;
        color: rgba(#fff, 0.5);
        transition: .2s;
        &.active {
          color: white;
        }
        @media screen and (max-width: 520px) {
          font-size: 12px;
        }
      }
      .account-header-item:hover {
        color: #fff;
      }
    }
  }
}
