@import "../basics";

.basic-table {
  width: 100%;
  .table-items {
    height: 60px;
    display: flex;
    .table-headers-item, .table-item {
      height: 100%;
      width: 100%;
      border: 1px solid rgba(#fff, 0.5);
      text-align: center;
    }
    .table-headers-item:nth-child(1) { border-radius: 20px 0 0 0; }
    .table-headers-item:last-child { border-radius: 0 20px 0 0; }
  }
}
