@import "../basics";

.basic-button-outer {
  .basic-button {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: $maincolor;
  }
  .basic-button:disabled {
    background-color: rgba($maincolor, 0.5);
    cursor: auto;
  }
}
