@import "../basics";

.dropdown-menu {
  width: 200px;
  height: 50px;
  border: 0.5px solid rgba(#fff, 0.5);
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  p {
    line-height: 10px;
    padding-left: 15px;
  }
  .dropdown-menu-content {
    margin-top: 50px;
    width: 200px;
    position: absolute;
    background-color: $backgroundcolorthird;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    z-index: 2;
    color: white;
  }
}
