@import "../basics";

.footer {
  width: 100%;
  height: 350px;
  background-color: $backgroundcolor;
  bottom: 0;
  position: relative;
  &.bright {
    background-color: $backgroundcolorsecond;
  }
}
