@import "../basics";

.footer {
  width: 100%;
  background-color: $backgroundcolor;
  bottom: 0;
  height: 250px;
  &.bright {
    background-color: $backgroundcolorsecond;
  }
  .footer-block {
    margin: 0 auto;
    width: 60%;
    @media only screen and (max-width: 930px) {
      width: 100%;
    }
    p { margin: 0; }
    .footer-item {
      text-align: center;
      height: 100%;
      width: 50%;
      padding-top: 25px;
      p { padding-bottom: 15px; }
    }
    &.up {
      height: 80%;
      border-bottom: 1px solid rgba(#fff, 0.5);
      display: flex;
    }
    &.down {
      text-align: center;
      p { padding-top: 15px; }
    }
  }
}
