@import "../basics";

.basic-input-outer {
  .basic-input {
    min-width: 300px;
    min-height: 35px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgba(0,0,0,0);
    background-color: rgba(#000, 0.5);
    padding: 0 0 0 16px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    color: white;
    &.error {
      border: 0.5px solid $error;
    }
    &.error:focus {
      border: 0.5px solid $error;
    }
  }
  .basic-input:focus {
    border: 0.5px solid $maincolor;
  }
  .basic-input-box {
    width: calc(100% - 15px);
  }
  .basic-input-wide {
    width: 500px;
  }
  .on-white {
    border: 0.5px solid $backgroundcolor;
    background-color: rgba(#fff, 0.5);
    color: black;
  }
  .margin-bottom-10 { margin-bottom: 10px }
  .margin-bottom-20 { margin-bottom: 20px }
  .margin-bottom-30 { margin-bottom: 30px }
}
