@import "../basics";

.main-class {
  display: flex;
  width: 100%;
  .basic-input-button {
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgba(0,0,0,0);
    background-color: rgba(#000, 0.5);
    padding: 0 0 0 16px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    margin-right: 15px;
    color: white;
    &.error {
      border: 0.5px solid $error;
    }
    &.error:focus {
      border: 0.5px solid $error;
    }
  }
  .input-button {
    width: 20%;
  }
  .basic-input-button:focus {
    border: 0.5px solid $maincolor;
  }
  .basic-input-box {
    width: calc(100% - 15px);
  }
  .basic-input-wide {
    width: 500px;
  }
  .margin-bottom-10 { margin-bottom: 10px }
  .margin-bottom-20 { margin-bottom: 20px }
  .margin-bottom-30 { margin-bottom: 30px }
}
