.basic-input-outer {
  .basic-input {
    min-width: 300px;
    min-height: 35px;
    border-radius: 7.5px;
    outline: none;
    border: 0.5px solid rgba(0,0,0,0);
    background-color: rgba(#333, 0.075);
    padding: 0 0 0 16px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    &.error {
      border: 0.5px solid red;
    }
    &.error:focus {
      border: 0.5px solid red;
    }
  }
  .basic-input:focus {
    border: 0.5px solid lightgreen;
  }
}
