@import "../basics";

.basic-input-outer {
  min-width: 350px;
  .basic-input {
    min-height: 35px;
    margin-bottom: 10px;
    &.error { border: 1px solid $error; }
    &.error:focus { border: 1px solid $error; }
  }
  .basic-input:focus { border: 1px solid $maincolor; }
  .basic-input:disabled { background-color: rgba(#aaa, 0.5) }

  .on-white {
    border: 1px solid $backgroundcolor;
    background-color: rgba(#fff, 0.5);
    color: black;
  }
}
