@import "../basics";

.input-two-fa {
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  font-size: 32px;
  text-align: center;
  outline: none;
  color: white;
  background-color: $backgroundcolor;
  border-radius: 6px;
  border: 1px solid rgba($maincolor, 0.5);
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.input-two-fa:disabled {
  background-color: rgba($backgroundcolorthird, 0.5);
}

.on-white {
  input {
    border: 1px solid $backgroundcolor;
    background-color: rgba(#fff, 0.5);
    color: black;
  }
}
