@import "../basics";

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

.spinner-box {
  width: 100%;
  height: 100%;
  background-color: rgba($backgroundcolorsecond, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
}
.leo-border {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.first-color {
    background: $firstcolorrgb;
    background: linear-gradient(0deg, $firstcolorrgbopacity 33%, $firstcolorrgb 100%);
    animation: spin3D 1.8s linear 0s infinite;
  }
  &.second-color {
    background: $secondcolorrgb;
    background: linear-gradient(0deg, $secondcolorrgbopacity 33%, $secondcolorrgb 100%);
    animation: spin3D 2.2s linear 0s infinite;
  }

  .leo-core {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &.first-color {
      background-color: $backgroundcolorsecond;
    }
    &.second-color {
      background-color: $backgroundcolor;
    }
  }
}

