@import "../basics";

.basic-textarea-outer {
  .basic-textarea {
    min-width: 500px;
    min-height: 300px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgba(0,0,0,0);
    background-color: rgba(#000, 0.5);
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    resize: none;
    padding: 16px;
    transition: .2s;
  }
  .basic-textarea:focus { border: 0.5px solid $maincolor; }
}
