@import "assets/css/basics";

.account-container {
  min-height: calc(100vh - 250px);
}

.account-container-wrap {
  width: 75%;
  margin: 0 auto;
  padding-top: 130px;
  .account-container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }
}
