@import "assets/css/basics";

.referral-panel {
  display: flex;
  @media only screen and (max-width: 1000px) { display: block; }
  .referral-panel-welcome-texts {
    text-align: center;
  }
}

.referral-panel-card-container {
  width: 100%;
  .referral-panel-card {
    max-width: 400px;
    background-color: $backgroundcolorsecond;
    border: 1px solid $maincolor;
    margin: 25px auto;
    border-radius: 15px;
    padding: 0 20px;
    .qr-side {
      text-align: center;
      .qr-code { width: 230px; }
    }
  }

  .referral-panel-card-header {
    border-bottom: 1px solid white;
    height: 50px;
    display: flex;
    text-align: center;
    .referral-panel-card-header-item {
      cursor: pointer;
      width: 100%;
      padding-top: 5px;
      height: calc(100% - 5px);
      &.active {
        border-bottom: 3px solid $maincolor;
      }
    }
  }

}
